* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'PT Sans Narrow', 'Open Sans Condensed', sans-serif;
    background-color: rgba(228, 229, 230, 1);
    position: relative;
}
.head {
    display: block;
}
.header {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
}

.header-spaceholder {
    width: 100vw;
    height: 70px;

}

.banner {
    width: 100%;
    height: 100%;
    background-color: rgba(76,105,127);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    /* font-size: 30px; */
    color: rgba(245, 246, 252, 1);
    font-weight: 100;
}

.list-view-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 95vw;
    height: 95vh;
    max-width: 700px;
}

.thread-box {
    display: flex;
    background-color: white;
    min-height: 150px;
    margin-top: 16px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08);
    width: 100%;
}

.video-thumbnail-box {
    height: 150px;
    width: 150px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thread-metadata-box {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 2px;
    padding-right: 6px;
}

.thread-title {
    flex-grow: 1;
}

.reply-count {
    flex-grow: 2;
}

.authorship {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h2 {
    color: rgba(11, 15, 36, 0.699);
    font-weight: 600;
}

p.metadata {
    color: rgba(11, 15, 36, 0.699);
}

.entire-thread-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 700px;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08);
    padding-top: 12px;
    margin-top: 12px;
}

.back-arrow {
    width: 85%;
    position: fixed;
    top: 24px;
    z-index: 3;
}

.press-play-icon {
    z-index: 1;
}

.create-new-icon {
    z-index: 2;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100%;
}

.reply-to-thread-icon {
    z-index: 2;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 55px;
    height: 55px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thread-view-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 85%;
    
}

.post-box-container {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10px;
}

.post-box {
    width: 75%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    border: 1px solid rgb(112, 112, 112);
    padding-bottom: 5px;
}

.video-box {
    width: 100%;
    height: 100%;
    background-size: cover;
}

img {
    max-width: 100%;
}
.thumbnail {
    display: block;
    object-fit: cover;
}

.border {
    background-color: rgba(7, 10, 23, 0.8);
    width: 100%;
    height: 12px;
}

.thread-view-authorship {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}

div.post-box:first-child {
    width: 100%;
    height: 300px;
}